.App {
  text-align: center;
}

.App-header {
  font-family: "Reem Kufi Fun", sans-serif;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: black;
}
